In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Finance'],
    'Bonus': [5000, 7000, 9000, 10000, 8500]
})

In [6]:
# add a column - dept_avg_bonus = average bonus for that department
df['dept_avg_bonus'] = df.groupby('Department')['Bonus'].transform('mean')
df.head()

      Name Department  Bonus  dept_avg_bonus
0    Alice         HR   5000          5000.0
1      Bob         IT   7000          8500.0
2  Charlie    Finance   9000          8750.0
3    Diana         IT  10000          8500.0
4      Eve    Finance   8500          8750.0

In [8]:
# add a column - bonus_diff = each employee's bonus minus the department average
df['bonus_diff'] = df['Bonus'] - df['dept_avg_bonus']
df.head()

      Name Department  Bonus  dept_avg_bonus  bonus_diff
0    Alice         HR   5000          5000.0         0.0
1      Bob         IT   7000          8500.0     -1500.0
2  Charlie    Finance   9000          8750.0       250.0
3    Diana         IT  10000          8500.0      1500.0
4      Eve    Finance   8500          8750.0      -250.0

In [9]:
# filter employees whose bonus is above their department average, sorted by bonus_diff descending
df[df['bonus_diff'] > 0].sort_values('bonus_diff', ascending=False)

      Name Department  Bonus  dept_avg_bonus  bonus_diff
3    Diana         IT  10000          8500.0      1500.0
2  Charlie    Finance   9000          8750.0       250.0